.container {
  font-size: 12px;
  line-height: 1.5;
  max-width: 700px;
}

.navbar {
  max-width: 460px;
  margin: 10px auto;
}

.main_block {
  text-align: center;
  max-width: 460px;
  margin: 0 auto;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.col-4 {
  padding: 30px 0px 20px 0px;
  font-style: italic;
}

.form-control {
  font-size: 11px;
}

.card-group {
  max-width: 460px;
  margin: auto;
}

.cityName {
  text-align: center;
  font-size: 18px;
}

#cityTemp {
  font-size: 40px;
}

#yourCity {
  font-size: 22px;
}

.units {
  position: relative;
  top: -24px;
  font-size: 10px;
}

.link-button {
  color: black;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
  opacity: 0, 6;
}

.active:hover {
  text-decoration: none;
  color: black;
}

.weatherIndex {
  font-size: 50px;
}

.footer {
  max-width: 460px;
  margin: 0 auto;
  font-size: 12px;
}
