p {
  text-align: left;
  max-width: 450px;
  margin: auto;
  padding-top: 10px;
}

.container {
  max-width: 700px;
}

.navbar {
  max-width: 460px;
  margin: 10px auto;
}

.main_block {
  text-align: center;
  max-width: 460px;
  margin: 0 auto;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.col-4 {
  padding: 20px;
}

.btn {
  font-size: 12px;
}

ul {
  padding-left: 0;
}

.card-group {
  max-width: 460px;
  margin: auto;
}

ul {
  text-align: center;
  margin-bottom: 0px;
}

.card-text {
  text-align: center;
}

#cityTemp {
  font-size: 40px;
}

#yourCity {
  font-size: 22px;
}

.units {
  position: relative;
  font-size: 10px;
}

.link-button {
  color: black;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
}

.active:hover {
  text-decoration: none;
  color: black;
}

#description {
  text-transform: capitalize;
}

.form-control {
  font-size: 13px;
}

.weatherIndex {
  font-size: 35px;
}

.footer {
  max-width: 460px;
  margin: 0 auto;
  font-size: 12px;
}
